node_modules
.build
.dist
.next
out
coverage
public
.DS_Store
*.log
yarn-error.log
pnpm-debug.log
package-lock.json
yarn.lock
.pnpm-debug.log
.env
.env.*
*.sqlite
*.sqlite3
*.db
**/build/**
**/dist/**
**/coverage/**
**/.git/**
**/.cache/**
**/tmp/**
**/temp/**
